*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
#video-field{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
header{
    background-color: rgba(89, 198, 218, 0.644);
    opacity: 0.8;
    height: 110px;
    margin: 1% 25%;
    border-radius: 10px;
    text-align: center;
}
header img{
    float: left;
    height: 100px;
    position: relative;
    left: 15%;
}
header h1{
    padding-top: 30px;
    text-shadow: -1px 0 rgb(205, 214, 201), 0 1px rgb(143, 158, 137), 1px 0 rgb(30, 51, 22), 0 -1px rgb(30, 51, 22);
}
form{
    opacity: 0.8;
    margin: 1% 25%;
    background-color: rgb(235, 228, 228);
    height: 750px;
    border-radius: 10px;
    padding: 10px;
}
form h3{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.details{
    padding-top: 20px;
    padding: 0 15%;
}
form input{
    padding: 4px;
    border: 1px solid rgb(105, 105, 104);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.514);
}
form input:focus{
    background-color: rgba(155, 216, 235, 0.199);
}
textarea{
    padding: 5px;
    border: 1px solid rgb(105, 105, 104);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.514);
}
textarea:focus{
    background-color: rgba(155, 216, 235, 0.199);
}
form img{
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    height: 250px;
    left: 38%;
    right: 62%;
    bottom: 70%;
    top: 30%;
}
form{
    position: relative;
    z-index: 0;
}
form label{
    font-weight: bold;
}
form p{
    font-weight: bold;
}
form button{
    all: unset;
    padding: 10px;
    color: black;
    background-color:  rgba(89, 198, 218);
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(18, 94, 107);
    float: right;
    margin-right: 2%;
    position: relative;
    z-index: 2;
    left: -70px;
    top: 10px;
}
form button:hover{
    color: rgb(207, 235, 207);
    background-color: rgb(18, 94, 107);
    border: 2px solid rgb(34, 95, 105);
    transition: 0.5s;
}
#copyright{
    float: right;
    padding-top: 10px;
    padding-right: 10vh;
    font-size: 18px;
    font-weight: bold;
    color: rgb(53, 109, 126);
}
@media screen and (min-width:1250px) and (max-width:1600px) {
    form img{
        left: 36%;
        right: 64%;
    }
}
@media screen and (min-width:1028px) and (max-width:1200px) {
    form img{
        left: 33%;
        right: 67%;
    }
    header img{
        height:80px;
        top: 12%;
        left: 9%;
    }
    form button{
        margin-right: 2%;
        left: -40px;
    }
    header h1{
        padding-top: 33px;
    }
}
@media screen and (min-width:863px) and (max-width:1027px) {
    form img{
        left: 29%;
        right: 71%;
    }
    header img{
        height:80px;
        top: 12%;
        left: 9%;
    }
    form button{
        padding: 7px;
        margin-right: 2%;
        left: -40px;
    }
    form textarea{
        height: 4em;
    }
    header h1{
        font-size: 25px;
        padding-top: 36px;
    }
}
@media screen and (min-width:585px) and (max-width:863px){
    form img{
        left: 25%;
        right: 75%;
    }
    header img{
        height:70px;
        top: 12%;
        left: 7%;
    }
    form button{
        padding: 6px;
        margin-right: 2%;
        left: -10px;
        top: 0;
    }
    form textarea{
        height: 3em;
        width: 15em;
    }
    header{
        height: 90px;
        margin: 1% 20%;
    }
    header h1{
        font-size: 20px;
        padding-top: 34px;
    }
    form{
        margin: 1% 20%;
        height: auto;
        padding: 10px;
        padding-bottom: 50px;
    }
    form h3{
        font-size: 16px;
    }
}
@media screen and (min-width:500px) and (max-width:585px){
    form img{
        left: 25%;
        right: 75%;
    }
    header img{
        height:70px;
        top: 12%;
        left: 7%;
    }
    form button{
        padding: 6px;
        margin-right: 2%;
        left: -10px;
        top: 0;
    }
    form textarea{
        height: 3em;
        width: 15em;
    }
    header{
        height: 90px;
        margin: 1% 10%;
    }
    header h1{
        font-size: 20px;
        padding-top: 34px;
    }
    form{
        margin: 1% 10%;
        height: auto;
        padding: 10px;
        padding-bottom: 50px;
    }
    form h3{
        font-size: 16px;
    }
}
@media screen and (max-width:500px){
    form img{
        left: 19%;
        right: 81%;
    }
    header img{
        height:70px;
        top: 12%;
        left: 7%;
    }
    form button{
        padding: 6px;
        margin-right: 2%;
        left: -10px;
        top: 0;
    }
    form textarea{
        height: 3em;
        width: 15em;
    }
    header{
        height: 90px;
        margin: 1% 7%;
    }
    header h1{
        font-size: 20px;
        padding-top: 34px;
    }
    form{
        margin: 1% 7%;
        height: auto;
        padding: 10px;
        padding-bottom: 50px;
    }
    form h3{
        font-size: 16px;
    }
}
